<phpunit bootstrap="bootstrap.php"  colors="true" verbose="true">
	<testsuite name="Service_Tests">
		<file>TestSuite.php</file>
	</testsuite>

	<filter>
		<whitelist>
			<directory suffix=".php">classes/Service</directory>
		</whitelist>
	</filter>

	<logging>
		<log type="coverage-html" target="coverage" charset="UTF-8"
		yui="true" highlight="true" lowUpperBound="90" highLowerBound="100"/>
	</logging>
</phpunit>